<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>WETRAVEL</title>
    <%- include('./partials/head.ejs') %>
</head>

<body>
    <div class="bg">
        <div class="wrapper">
            <header>
                <span id="open" class="fas fa-bars"></span>
                <div class="menu">
                    <h1><a href="/">Wetravel</a></h1>
                    <nav>
                        <ul>
                            <li>
                                <a href="/">Inicio</a>
                                <div class="border"></div>
                            </li>
                            <li><a href="#">Descubrir</a></li>
                            <li><a href="#">Ubicación</a></li>
                            <li><a href="#">Nosotros</a></li>
                            <li><a href="#">Soporte</a></li>
                        </ul>
                    </nav>
                    <div class="search">
                        <div class="help">
                            <p>Ayuda | Terminos y condiciones</p>
                            <i class="fas fa-search"></i>
                        </div>
                        <div class="login">
                            <button>Registrate</button>
                            <button>Ingresar</button>
                        </div>
                    </div>
                </div>
            </header>
            <div class="border-nav"></div>
            <main>
                <div class="title">
                    <div class="border"></div>
                    <h2>Cordillera de los Andes</h2>
                    <h1>Tu creas tus propias <br> oportunidades</h1>
                </div>
                <a href="#">Quieres saber más</a>
                <div class="travel">
                    <i class="fas fa-clock"></i>
                    <h2>Descuento en viajes</h2>
                </div>
                <div class="time">
                    <p>48 <div class="hrs">hrs</div></p>
                    <p>22 <div class="mim">mim</div></p>
                    <p>13 <div class="secs">secs</div></p>
                </div>
            </main>
        </div>
            <footer>
                <div class="box-about">
                    <div class="about-us">
                        <h3>Sobre nosotros</h3>
                        <h2>Quienes somos?</h2>
                    </div>
                    <i class="far fa-arrow-alt-circle-down"></i>
                </div>
                <div class="last-visited">
                    <h3>Ultima visita</h3>
                    <h2>Tierra del fuego</h2>
                </div>
            </footer>
        </div>
    <script src="/js/script.js"></script>
</body>

</html>